.print {
  position: relative;
  font-size: 36px;

  overflow: auto;

  --color: black;
  --background-color: white;
  --foreground-color: var(--color);

  color: var(--color);
  background-color: var(--background-color);

  line-height: 1.25em;

  display: flex;

  height: 100%;
  overflow: hidden;

  padding: 0;
}

p {
  border-bottom: 1px solid black;
}

.print-image {
  position: absolute;
  width: 100%;
  height: 100%;

  overflow: hidden;
  z-index: -1;
}

.print-image img {
  width: 100%;
  height: 100%;

  object-fit: cover;
}

.print-poem {
  position: relative;
  padding: 1em;

  margin-left: 20%;

  width: 100%;

  background-color: white;
}
